<div class="container">

    <div class="jumbotron jumbotron-fluid text-center">
        <div class="container">
            <h1 class="display-4">NPR News Scraper</h1>
            <a href="/scrape">
                <button type="button" class="btn btn-info">Fresh Scrape</button>
            </a>
            <h4 class="lead">Select article to write a note.{{example}}</h4>
        </div>
    </div>


    <div class="row">
        {{#each article}}
        <div class="col-sm-12 col-md-6 col-lg-4 articleCard">
            <div class="card text-center" style="width: 18rem;">
                <img class="card-img-top" src={{this.image}} alt="Image missing">
                <div class="card-body">
                    <a href="{{this.link}}">
                        <h5 class="card-title">{{this.title}}</h5>
                    </a>
                    <p class="card-text">{{this.article}}.</p>
                    <a href="{{this.link}}" class="btn btn-info btn-block btn-sm">Read More</a>
                    <button class="btn btn-info btn-block btn-sm" type="button" data-toggle="collapse" data-target="#{{this.id}}" aria-expanded="false" aria-controls="collapseExample">
                    Comment
                    </button>
                    <div class="collapse" id={{this.id}}>
                        <div class="card card-body">
                            <div class="input-group mb-2">
                                <input type="text" id="body-input"class="form-control" placeholder="comment" aria-label="comment" aria-describedby="button-addon2">
                                <div class="input-group-append">
                                    <button class="btn btn-sm btn-info btn-outline-secondary savenote" type="button" data-id="{{this.id}}" id="button-addon2">Save Note</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    </p>
                </div>
            </div>
        </div>
        </a>
        {{/each}}
    </div>
</div>
</div>